* {
  padding: 0;
  margin: 0;
}

.container {
    margin: 50px auto 0 auto;
    text-align: center;
}

.status-component {
  margin: 25px 0;
  display: inline-block;
  border: 1px solid lightgrey;

  h3 {
    text-align: left;
    margin: 25px;
  }
}

.status-panel {
  height: auto;
  margin: 0 25px 25px 25px;
  padding: 25px;
  /* yellow = non operational, needs attention */
  background-color: yellow;
  border: 1px solid gray;
  font-size: 16px;

  &[data-status="fetching"] {
    background-color: lightgrey;
  }

  &[data-status="operational"] {
    background-color: lightgreen;
  }

  @media (min-width: 768px) {
    max-width: 300px;
  }
}

.status-panel__name {
  font-weight: bold;
  margin-bottom: 15px;
}

.status-panel__status {

}
